.keepSpaces {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }


  .dropdown-menu{
    position: absolute;
    top: -30px;
    border: none;
  }

  .itemDropdown:hover .dropdown-menu{
    display: block;

  }